@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,500;6..72,700&display=swap");

:root {
  --primary: #134b8d;
  --gold: #ceaf72;
  --light-blue: #134c8d25;
  --black: #031e2f;
  --white: #ffffff;
  --light-grey: #dadada;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

body {
  font-family: Newsreader;
  color: var(--black);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

section {
  padding: 4rem 0;
}

#mc_embed_signup {
  width: 100%;
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  z-index: 999;
  background-color: var(--gold);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  a {
    padding: 0;
    margin: 0;
    line-height: 0;
  }

  i {
    font-size: 2.5rem;
    color: var(--white);
  }
}

.icon {
  font-size: 1.2rem;
  color: var(--primary);
}

.icon:hover {
  color: #eaca8b;
}

.cta-button {
  background-color: var(--gold);
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.cta-button--azul {
  background-color: var(--primary);
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}

.cta-button--azul:hover {
  background-color: var(--primary);
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gold);
}

.nav-infos {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.banner {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  overflow: hidden;

  &__content {
    text-align: center;
    padding: 4rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 100;

    img {
      width: 50%;
    }
  }

  &__image-wrapper {
    z-index: 99;
    position: relative;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: -10rem;
    width: auto;
    height: 120%;
  }

  &__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 97;
  }

  &__element {
    position: absolute;
    z-index: 98;
    bottom: 0;
    right: 0;
  }
}

.conteudo {
  background-color: var(--light-blue);
  &__titulo {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  &__topico {
    border-bottom: 0.2px solid var(--black);
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
  }

  &__conteudo-texto {
    font-weight: 400;
    color: var(--black);
    font-size: 0.9rem;
  }
}

.azul {
  background-color: #ceaf72;
}

.sobre {
  background-color: #2b2c31;
  color: var(--white);

  h3 {
    color: var(--gold);
  }

  a {
    margin-top: 1.5rem;
  }

  &__social {
    display: flex;
    gap: 1rem;

    .icon {
      font-size: 1.5rem;
      color: var(--gold);
    }

    .icon:hover {
      color: #eaca8b;
    }
  }
}

.convidados {

  &__nome::after {
    height: 3px;
    display: block;
    width: 200px;
    background: var(--gold);
    border-right: 1px white;
    content: "";
    margin-top: .3rem;
  }

  &__mais-info {
    cursor: pointer;

    p, i {
      margin: 0;
    }

    i {
      color: var(--gold);
    }
  }

  &__mais-info:hover{
    color: var(--gold);
  }
}

.para-quem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3rem;
    color: var(--black);
  }

  .icon {
    font-size: 1.5rem;
    color: var(--gold);
  }

  ul > li {
    list-style: none;
  }
}

.valores {
  &__titulo {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__left {
    padding: 4rem;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 0 70px 0 70px;
  }

  &__right {
    padding: 4rem;
    color: var(--white);
    background-color: var(--black);
    border-radius: 70px 0 70px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__tipo {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  &__tipo::after {
    height: 3px;
    display: block;
    width: 40px;
    background: var(--gold);
    border-right: 1px white;
    content: "";
  }

  &__parcela-wrapper {
    padding: 1rem 0;
    p {
      margin: 0;
    }
  }

  &__parcela {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__valor-cheio {
    p {
      margin: 0;
    }

    p:last-child {
      font-weight: 700;
    }
  }

  &__pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.local {
  position: relative;
  overflow: hidden;

  .element-local {
    position: absolute;
    bottom: -100px;
    right: 2380px;
    width: 30%;
    height: auto;
  }

  &__titulo {
    color: var(--gold);
  }
}

@media (max-width: 574px) {
  .cta-button,
  .cta-button--azul {
    font-size: 16px;
    padding: 12px 24px;
  }

  .nav-infos {
    display: none;
  }
}
